/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
    box-shadow:inset -70px 0 200px -30px rgba(0,0,0,.75);
}

header{
}

.container{
    height: 80%;
    margin-top: 50px;
}

.lit-buttons{
    margin-left: 5%;
    width: 90%;
    padding-bottom: 20px;
}

.lit-buttons .button{
    font-size: 8pt;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

.bookcard{
    margin-top: 20px;
    margin-left: 5%;
    width: 70%;
}

.bookcard img{
    width: 125px;
}

.bookcard p{
    font-size: 8pt;
}

.bookcard div{
    text-align: right;
}

.bookcard .img{
    width: 25%;
}

#map {
    height: 400px;
}
